 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>Cobranca</title>

	<!--  
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap-datepicker.standalone.min.css"/>	
	-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.standalone.min.css}"/>
</head>
<body>
    
    <header layout:include="Cabecalho"></header>
    
    <section layout:fragment="conteudo">
    	<p>Conteudo Principal</p>
    </section>
    
	<!--  
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-datepicker.min.js" />
	<script src="/js/bootstrap-datepicker.pt-BR.min.js" />
	<script src="/js/jquery.maskMoney.min.js" />
	<script src="/js/cobranca.js"></script> 	
	-->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/bootstrap-datepicker.min.js}" />
	<script th:src="@{/js/bootstrap-datepicker.pt-BR.min.js}" />
	<script th:src="@{/js/jquery.maskMoney.min.js}" />
	<script th:src="@{/js/cobranca.js}"></script>        
</body>
</html>
